/*SECTIONS*/

/*BIO*/
.section-bio{     
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-bio img{
    box-shadow: 4px 4px 13px 0px #0a0a0a;
    margin: 0 auto;   
}
.section-bio content{
    margin-top: 11rem;    
    margin-right: -8rem;    
    z-index: 1;
}
.line{    
    border:  2px var(--cl-yellow) solid;
    width: 50vw;
}
.section-bio p{
    text-align: start;
}

/*CONTENT*/

.art{

    margin: 10rem 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;  
    text-align: center;
   
}

.content{
    padding: 1rem 1rem 1rem 0rem;
    z-index: 1;
}

.art img{        
   
    box-shadow: 4px 4px 13px 0px #0a0a0a;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease;  
    margin: 0 auto;
                 
}


.art img:hover,
.art img:active{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.3s ease;
    z-index: 1;
}

.box-right{   
    border-right: var(--cl-yellow) solid 4px;
    background-image: linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#1b1c20, #1b1c20);
    background-repeat: no-repeat;
    background-size: 50% 4px, 50% 4px, calc(100% - 8px) 100%;
    background-position: right bottom, right top, 4px 4px;  
}

.box-text .p{
    padding: 3rem 4rem 3rem 0;
}
.box-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

small{
    position: relative;     
    text-transform: uppercase;

    font-size: 1rem;
    color: var(--cl-red);
}

small i{    
    margin-right: 10px;
    margin-left: 5px;

}

.box-left{      
    border-left: var(--cl-yellow) 4px solid;  
    background-image: linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#1b1c20, #1b1c20);
    background-repeat: no-repeat;
    background-size: 50% 4px, 50% 4px, calc(100% - 8px) 100%;
    background-position: left bottom, left top, 4px 4px;  
}
.box-left .content{
    padding-left: 2rem;
}

/*responsive*/

@media screen and (min-width: 800px) {  
   
    .section-bio{
        flex-direction: row;       

    }
    .section-bio .content{
        flex: 2;        
    }
    .section-bio img{
        flex: 1;        
        margin-left: -8rem;
        
    }
    .line{
        width: 25vw;
    }
  
}

@media  screen and (min-width: 900px) {
    .art{
        
        flex-direction: row;                
        align-items: center;
       
    }
    .box-text{
        flex:2;
    }
    .box-image{
        flex: 1;
    }

    #exhibice{
        flex-direction: row-reverse;
    }

    .art .content{
        padding-right: 2rem;
    }
    .box-left .content {
        padding-right: 0;
    }
}

@media  screen and (min-width: 1000px) {

    .section-bio .content{
        flex: 2;
        padding-left: 0rem;
        margin-left: 5rem;
    }
    .section-bio img{
        flex: 1;        
        margin-left: -8rem;
        margin-right: 5rem;
    }
 
}

   


