/*POST-HEADER-WHALE*/
main{    
    padding: 4rem 0;
    position: relative;
}
.logo-face{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    background: #53aedd;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 0 0 5px 0 #53aedd;
    z-index: 1;
}
.logo-face img{
    position: relative;
    left: 11px;
    top: 4px;    
}

/*SECTIONS*/

/*BIO*/
.section-bio{     
    margin-top: 3rem;
}
.section-bio img{
    box-shadow: 4px 4px 13px 0px #0a0a0a;
}
.section-bio content{
    margin-top: 11rem;    
    margin-right: -8rem;    
    z-index: 1;
}
.line{    
    border:  2px var(--cl-yellow) solid;
    /* width: 23rem;      */
}
.section-bio p{
    text-align: start;
}
/*CONTENT*/

.art{
    margin: 4rem 0;
}
.content{
    padding: 1rem 1rem 1rem 0rem;
}

.art img{        
   
    box-shadow: 4px 4px 13px 0px #0a0a0a;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease;  
                 
}


.art img:hover,
.art img:active{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.3s ease;
    z-index: 1;
}

.box-right{   
    border-right: var(--cl-yellow) solid 4px;
    background-image: linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#1b1c20, #1b1c20);
    background-repeat: no-repeat;
    background-size: 50% 4px, 50% 4px, calc(100% - 8px) 100%;
    background-position: right bottom, right top, 4px 4px;  
}

.box-text .p{
    padding: 3rem 4rem 3rem 0;
}

.box-image small{
    position: relative;
    top: -5.8rem;
    right: 0.4rem;
    text-transform: uppercase;

    font-size: 1rem;
    color: var(--cl-red);
}

small i{
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 5px; 
}

.box-left{      
    border-left: var(--cl-yellow) 4px solid;  
    background-image: linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#ce9700, #ce9700),
                    linear-gradient(#1b1c20, #1b1c20);
    background-repeat: no-repeat;
    background-size: 50% 4px, 50% 4px, calc(100% - 8px) 100%;
    background-position: left bottom, left top, 4px 4px;  
}
.box-left .content{
    padding-left: 1rem;
}
/*responsive*/

/* @media screen and (min-width: 810px) {
    .main{
        padding: 10rem 0;
    }
    
    .art{
        display: flex;
        align-items: center;
        gap: 3vw;

        margin-bottom: 10rem;
        padding: 1rem 0;

        border-right: 0.75rem solid var(--cl-accent) ;
    }

    .art:nth-child(even){
        flex-direction: row-reverse;        
        border-right: none;

        border-left: var(--cl-yellow) 4px;         

    }
    .box-image img{
        
        position: relative;
        right: 1rem;

    }
    .box-image img:nth-child(even){
                
        position: relative;
        top: 8rem;
        right: 10rem;

    }

    .art .box-text{
        flex: 6;
    }

    .art .box-image{
        flex: 2;        
        margin-right: 3.5rem;        
        position: relative;
        bottom: 2rem;
    } */
   

   

/* } */
