footer{  
    border-top: 2px solid;  
}
footer a{
    color: #888;
}
.footer-contact{
    display: flex;
    justify-content:space-evenly;
    margin: 0 5rem;   
}

.contact{
    list-style: none;
    display: flex;
    padding-left: 0;    
}

.contact li{   
    font-size: 22px;
    margin-right: 7rem;
}

footer .social{
    margin-top: 0rem;
    margin-left: 4rem;

}
.contact li a:hover,
.contact li a:active
{
    color:#9b273a;
    transition: color 0.5s;

}


