footer{  
    border-top: 2px solid;  
}
footer a{
    color: #888;
}
.footer-contact{
    text-align: center;
    margin-top: 5rem;
}

.contact{
    list-style: none;    
    padding-left: 0;    
}

.contact li{   
    font-size: 22px; 
    padding: 1rem 0;   

}

.contact li a:hover,
.contact li a:active
{
    color:var(--cl-red);
    transition: color 0.5s;

}

.social{    
    display: flex;
    padding-left: 0px;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.social a{
    text-decoration: none;    
    color: #888;
}
.social li{
    list-style: none; 
    
   
}
.social-icon .fa{
    font-size: 24px;
}
.social-icon .fa:hover{
    color: var(--cl-red);
    transition: color 0.5s;
}

.logo-face{   
   
    height: 85px;
    width: 85px;   
    
    z-index: 1;

    margin: 2rem auto;
}




