@import url(https://fonts.googleapis.com/css?family=Raleway);

header{
    min-height: 90vh;
    background-image: linear-gradient(180deg, rgba(14,1,1,0) 85%, rgba(27,28,32,1) 99%),url(../images/whaleBGone.jpg);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.dyazart-title {
    color: var(--cl-white);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(4rem, 12vw, 8rem);    
    position: relative;    
    top: 2rem;
}

.logoLettersReds{
    color: var(--cl-red);
}
.dyazart-title:after{
    content: '.';
    color: var(--cl-yellow);
}
.red-logo{
  background: url(../images/logo-red.png), center center no-repeat;
  height: 60px;
  width: 53px; 
  z-index: 1;
   
}

.red-logo-bigger{
  display: none;
}

.red-logo a{
  text-indent: -9999px;
  height: 100%;
}

.red-logo-bigger a{
  text-indent: -9999px;
  height: 100%;
}

/*NAVIGATION*/
.main-nav {
    width: 100vw;
    background: var(--bg-main);

    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
}
.social-icon .fa{
  font-size: 1rem;
}
.wrapped-nav{
  display: flex; 
  justify-content: space-between;
  align-items: center;  
  padding: 0.2rem 0;
  flex-direction: row-reverse;

}

.menu
{
  position: absolute;
    right: 0rem;
    width: 60vw;
    
    margin: -4rem 0 0 -1.3rem;
    padding: 6rem 3rem 3rem 3rem; 

    background: var(--bg-main);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);    
    line-height: 1;  

}

.menu li{
  line-height: 2;
  font-size: clamp(1.35rem, 6vw, 2.75rem);
  text-align: center;
  border-bottom: 1px solid;
}

.menu li:first-child{
  border-top: 1px solid;
}


.main-nav a{
    display: block;
    padding: 0.35rem 0;

    color: var(--cl-white);    
    text-transform: uppercase;
    transition: color 0.5s;  
    font-size: clamp(1.1rem, 1.3vw, 1.4rem);    
}

.main-nav a:hover,
.main-nav a:focus{
    color: var(--cl-yellow);}

.menu .social{
  justify-content: center;
  display: flex;
  padding-left: 0px;
  gap: 2rem;
  align-items: baseline;

  padding-top: 1rem;
  margin: 0;
}

.menu .social li{
  border: none;
}

.menu .social li:first-child{
  border: none;
}

.post-menu{
  display: none;
}

/*HAMBURGER*/
#menuToggle
{
  display: block;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none; 
  padding: 1rem 0 0.6rem 0;
}

#menuToggle a
{
  color: var(--cl-white);    
    text-transform: uppercase;
    transition: color 0.5s;  
    font-size: medium;
}

#menuToggle a:hover,
#menuToggle a:focus{
    color: var(--cl-yellow);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 15px;  
  right: 13px;

  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--cl-white);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #53aedd;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/*RESPONSIVE*/

@media screen and (min-width: 500px) {

  .header{
    background-position: 2% 50%;
}

  .dyazart-title{
    flex: 100%;
    position: relative;
    left: -6px;
}

}

@media screen and (min-width: 1000px) {

  .wrapped-nav{
    display: none;     
  }

  .post-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;

    margin: 0.3rem 0;
  }

  .red-logo{
    display: none;
  }
  .red-logo-bigger{
    display: block;
    background: url(../images/logo-red-bigger.png), center center no-repeat;
    height: 90px;
    width: 83px; 
    z-index: 1;     
  }

}

 