//
// GENERAL
// ------------------------------

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;

  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  scroll-padding-top: 20vh;
}

body {
  color: $color-text;
  background: $color-bg-body;

  font: {
    size: $font-size-base;
    family: $font-family-coolvetica;
    weight: normal;
  }

  text-align: center; 
}

a {
  color: $color-text;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

p {
  letter-spacing: 0.03rem;
  line-height: 2rem;
  text-align: start;
}

.fa {
  vertical-align: middle;
}

strong {
  color: $color-white;
}

.container {
  max-width: 1280px;
  padding: 0 1.25rem;
  margin: 0 auto;
}
.menu {
  margin: 0 auto;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
}
.social-icons {
  display: flex;
  margin: auto;
  a {
    text-decoration: none;
    color: $color-white;
  }
  a:hover,
  a:focus {
    color: $color-white;
    transition: color 0s;
  }

  .fa-instagram:hover {
    background: radial-gradient(
        circle farthest-corner at 35% 100%,
        #fec564,
        transparent 50%
      ),
      radial-gradient(
        circle farthest-corner at 10% 140%,
        #feda7e,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 0 -25%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% -50%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 0,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 60% -20%,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 100%,
        #d9317a,
        transparent
      ),
      linear-gradient(
        #6559ca,
        #bc318f 30%,
        #e42e66 50%,
        #fa5332 70%,
        #ffdc80 100%
      );

    border-radius: 20%;
  }

  .fa-facebook:hover {
    border-radius: 20%;
    background: #3b5998;
  }

  li {
    list-style: none;
    padding-right: 1rem;
  }
  .social-icon .fa {
    font-size: 2rem;
  }
}
.dyazart-title {
  color: $color-white;
  font-family: $font-family-coolvetica;
  font-size: clamp(5rem, 15vw, 10rem);
  margin: 1rem 0 0 0;
  letter-spacing: -1px;
}
.under-title {
  font-size: 16px;
  margin-top: 6vh 0;
  letter-spacing: 1px;
}
//return to top button
#button {
  display: inline-block;
  background-color: $color-blue	;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


@media (min-width: 1900px) {
  .dyazart-title {   
    margin: 3rem 0 0 0;
  }
}
