//
// TYPOGRAPHY
//----------------------

h1{
    font-family: $font-family-serif;
    color: $color-white;    
    font-size: 2.4rem; 
    text-shadow: 2px 2px 7px #000;  
    
}

h2{
    text-align: center;
    color: $color-white;    
    text-transform: uppercase;     
    font-size: clamp(1.5rem, 1.7vw, 1.9rem);
    letter-spacing: 0.1rem;      
}
