//
// VARIABLES
// ------------------------------

$font-size-base: 100%;
$font-family-sans: 'Red Hat Display', sans-serif;
$font-family-serif: 'Poppins', Georgia, serif;

$color-text: #888;
$color-muted: #777;
$color-bg-body: #1b1c20;
$color-sel:  #FCBD24;
$color-head:  #b3b2b2;


$color-yellow: #ce9700;
$color-red: #9b273a;
$color-white: #e4e3e3;
$color-blue: #53aedd;


$debug: false;

$width-sm: 400px;
$width-md: 640px;
$width-lg: 1000px;