.gallery {
  margin-bottom: 0;
}
.images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0; 

  li {
    flex-grow: 1;
    padding: 0.3rem 0.3rem;
    list-style: none;
  }
  li:last-child {
    flex-grow: 10;
  }
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    opacity: 0.85;
  }
}
.galleryTypo {
  margin: 8rem 0 0 0;
}
.imagesFilterButtons {
  margin: 4rem 0;
  display: flow-root;

  button {
    background-color: $color-white;
    cursor: pointer;
    border: none;
    padding-bottom: 0.2rem;
    margin-top: 4px;
  }
  button:hover {
    background-color: $color-head;
  }

  .active {
    background-color: $color-head;
  }
}
.hidden {
  display: none;
}

@media (min-width: 400px) {
  .images {
    li {
      height: 40vh;
    }
  }
}
@media (min-width: 900px) {
  .galleryTypo {
    margin-top: 8rem;
  }
  .main-nav {
    top: 0;
  }
}
